# env.example
APP_TITLE=
DATABASE_URL=
SECRET=
# google_api
FIRST_SUPERUSER_EMAIL=
FIRST_SUPERUSER_PASSWORD=
EMAIL=
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=